.container {
    background-color: black;
    color: white;
    text-align: center;
    height: 3vh;
    margin: 0;
    padding: 0%;
}

@media (max-width: 450px){
    .container {
        font-size: 10px;
    }
}