<div class = "container">


    <div class = "name">CheckWeather</div>
    

    <div class = "description">Sprawdź warunki pogodowe w swoim mieście!</div>

    <div (click)="changeView(1)" class = "changeView">Temperatura</div>
    <div (click)="changeView(2)" class = "changeView">Temperatura odczuwalna</div>
    <div (click)="changeView(3)" class = "changeView">Prędkość wiatru</div>
    <div (click)="changeView(4)" class = "changeView">Wilgotność</div>
    <div (click)="changeView(5)" class = "changeView">Ciśnienie</div>

</div>
