<div class="container">

    <div [ngSwitch]="viewMap">

        <div *ngSwitchCase="0">
            {{viewMap}}
            Witaj na stronie CheckWeather
            <br>
            Wybierz parametr, który Cię interesuje w bocznym menu i go sprawdź.
        </div>

        <div *ngSwitchCase="1">
            <div class="town gdansk">Gdańsk {{readyTowns[0].temp}} ℃</div>
            <div class="town szczecin">Szczecin {{readyTowns[1].temp}} ℃</div>
            <div class="town bydgoszcz">Bydgoszcz {{readyTowns[2].temp}} ℃</div>
            <div class="town poznan">Poznań {{readyTowns[3].temp}} ℃</div>
            <div class="town bialystok">Białystok {{readyTowns[4].temp}} ℃</div>
            <div class="town warszawa">Warszawa {{readyTowns[5].temp}} ℃</div>
            <div class="town lodz">Łódź {{readyTowns[6].temp}} ℃</div>
            <div class="town wroclaw">Wrocław {{readyTowns[7].temp}} ℃</div>
            <div class="town lubin">Lubin {{readyTowns[8].temp}} ℃</div>
            <div class="town katowice">Katowice {{readyTowns[9].temp}} ℃</div>
            <div class="town krakow">Kraków {{readyTowns[10].temp}} ℃</div>
        </div>

        <div *ngSwitchCase="2">
            <div class="town gdansk">Gdańsk {{readyTowns[0].tempFeel}} ℃</div>
            <div class="town szczecin">Szczecin {{readyTowns[1].tempFeel}} ℃</div>
            <div class="town bydgoszcz">Bydgoszcz {{readyTowns[2].tempFeel}} ℃</div>
            <div class="town poznan">Poznań {{readyTowns[3].tempFeel}} ℃</div>
            <div class="town bialystok">Białystok {{readyTowns[4].tempFeel}} ℃</div>
            <div class="town warszawa">Warszawa {{readyTowns[5].tempFeel}} ℃</div>
            <div class="town lodz">Łódź {{readyTowns[6].tempFeel}} ℃</div>
            <div class="town wroclaw">Wrocław {{readyTowns[7].tempFeel}} ℃</div>
            <div class="town lubin">Lubin {{readyTowns[8].tempFeel}} ℃</div>
            <div class="town katowice">Katowice {{readyTowns[9].tempFeel}} ℃</div>
            <div class="town krakow">Kraków {{readyTowns[10].tempFeel}} ℃</div>
        </div>

        <div *ngSwitchCase="3">
            <div class="town gdansk">Gdańsk {{readyTowns[0].windSpeed}} km/h</div>
            <div class="town szczecin">Szczecin {{readyTowns[1].windSpeed}} km/h</div>
            <div class="town bydgoszcz">Bydgoszcz {{readyTowns[2].windSpeed}} km/h</div>
            <div class="town poznan">Poznań {{readyTowns[3].windSpeed}} km/h</div>
            <div class="town bialystok">Białystok {{readyTowns[4].windSpeed}} km/h</div>
            <div class="town warszawa">Warszawa {{readyTowns[5].windSpeed}} km/h</div>
            <div class="town lodz">Łódź {{readyTowns[6].windSpeed}} km/h</div>
            <div class="town wroclaw">Wrocław {{readyTowns[7].windSpeed}} km/h</div>
            <div class="town lubin">Lubin {{readyTowns[8].windSpeed}} km/h</div>
            <div class="town katowice">Katowice {{readyTowns[9].windSpeed}} km/h</div>
            <div class="town krakow">Kraków {{readyTowns[10].windSpeed}} km/h</div>
        </div>

        <div *ngSwitchCase="4">
            <div class="town gdansk">Gdańsk {{readyTowns[0].humidity}}%</div>
            <div class="town szczecin">Szczecin {{readyTowns[1].humidity}}%</div>
            <div class="town bydgoszcz">Bydgoszcz {{readyTowns[2].humidity}}%</div>
            <div class="town poznan">Poznań {{readyTowns[3].humidity}}%</div>
            <div class="town bialystok">Białystok {{readyTowns[4].humidity}}%</div>
            <div class="town warszawa">Warszawa {{readyTowns[5].humidity}}%</div>
            <div class="town lodz">Łódź {{readyTowns[6].humidity}}%</div>
            <div class="town wroclaw">Wrocław {{readyTowns[7].humidity}}%</div>
            <div class="town lubin">Lubin {{readyTowns[8].humidity}}%</div>
            <div class="town katowice">Katowice {{readyTowns[9].humidity}}%</div>
            <div class="town krakow">Kraków {{readyTowns[10].humidity}}%</div>
        </div>

        <div *ngSwitchCase="5">
            <div class="town gdansk">Gdańsk {{readyTowns[0].pressure}} hPa</div>
            <div class="town szczecin">Szczecin {{readyTowns[1].pressure}} hPa</div>
            <div class="town bydgoszcz">Bydgoszcz {{readyTowns[2].pressure}} hPa</div>
            <div class="town poznan">Poznań {{readyTowns[3].pressure}} hPa</div>
            <div class="town bialystok">Białystok {{readyTowns[4].pressure}} hPa</div>
            <div class="town warszawa">Warszawa {{readyTowns[5].pressure}} hPa</div>
            <div class="town lodz">Łódź {{readyTowns[6].pressure}} hPa</div>
            <div class="town wroclaw">Wrocław {{readyTowns[7].pressure}} hPa</div>
            <div class="town lubin">Lubin {{readyTowns[8].pressure}} hPa</div>
            <div class="town katowice">Katowice {{readyTowns[9].pressure}} hPa</div>
            <div class="town krakow">Kraków {{readyTowns[10].pressure}} hPa</div>
        </div>
    </div>



</div>